# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# Build artifacts
build/
dist/
*.egg-info/

# macOS
.DS_Store
*.html

# Outputs
outputs/
reports/
pdf/
output/

# IDE 
.vscode/
.idea/

# Testing
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.log
.pytest_cache/